


.containerHome {
    margin-left:260px; 
    width: 750px;
    height: auto;
    min-height: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 32px;

}

@media (max-width: 1280px) {
    .containerHome {
        width: 725px; 
    }
}

.home_header {
    width: 100%;
    height: 110px;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}

.containerCardHistory {
    height: 62px;
    width: 62px;
    border-radius: 50%;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0)), 
                      linear-gradient(45deg, #feda75, #fa7e1e, #d62976, #f30ed4, #aa5aec);
    background-origin: border-box;
    background-clip: content-box, border-box;
    overflow: hidden;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;  
}

.containerCardHistory_article {
    height: 100px;
    margin: 0 10px;
    width: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
}

.containerCardHistory img {
    width: 58px;
    height: 58px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid transparent;
    overflow: hidden;
}

.containerCardHistory:hover {
    transform: translateY(-2px) scale(1.1);
}

.containerCardHistory_article strong {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-weight: 400px;
}

